<template>
  <div class="{{nameKecab}} w-screen h-screen bg-black overflow-hidden"></div>
</template>

<script lang="ts">
import {{nameUpper}} from "@/scenes/{{name}}";
import { defineComponent, onMounted } from "vue";

export default defineComponent({
  name: "{{nameUpper}}",
  setup() {
    const start = () => {
      const {{name}} = new {{nameUpper}}(".{{nameKecab}}", false);
      {{name}}.init();
    };
    onMounted(() => {
      start();
    });
  },
});
</script>

<style lang="scss" scoped></style>
